
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
            <div class="sidebar-brand-text mx-3">Yönetici Paneli <sup>2</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="index.html">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Yönetim Paneli</span>
            </a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div class="sidebar-heading">
            Interface
        </div>

        <!-- Nav Item - Pages Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Kategoriler</span>
            </a>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">KATEGORİLER :</h6>
                    <a class="collapse-item" href="/Kategoriler/Ekle"> Kategori Ekle</a>
                    <a class="collapse-item" href="/Kategoriler/altkategori">Alt Kategori Ekle</a>
                    <a class="collapse-item" href="/Kategoriler/Liste">Kategorli Listele</a>
                </div>
            </div>
        </li>

        <!-- Nav Item - Utilities Collapse Menu -->
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#varyant" aria-expanded="true" aria-controls="varyant">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Varyant</span>
            </a>
            <div id="varyant" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">VARYANTLAR:</h6>
                    <a class="collapse-item" href="utilities-color.html">Varyant Ekle</a>
                    <a class="collapse-item" href="utilities-border.html">Varyant Listele</a>

                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#ürünler" aria-expanded="true" aria-controls="ürünler">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Ürünler</span>
            </a>
            <div id="ürünler" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">ÜRÜNLER:</h6>
                    <a class="collapse-item" href="utilities-color.html">Ürün Ekle</a>
                    <a class="collapse-item" href="utilities-border.html">Ürün Listele</a>

                </div>
            </div>
        </li>

        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#musteri" aria-expanded="true" aria-controls="musteri">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Müşteri</span>
            </a>
            <div id="musteri" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">Müşteriler :</h6>
                    <a class="collapse-item" href="utilities-border.html">Müşteri Listele</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#Stok" aria-expanded="true" aria-controls="Stok">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Stok</span>
            </a>
            <div id="Stok" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">STOKLAR:</h6>
                    <a class="collapse-item" href="utilities-color.html">Stok Ekle</a>
                    <a class="collapse-item" href="utilities-border.html">Stok Listele</a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siteayarlari" aria-expanded="true" aria-controls="siteayarlari">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Site Ayarları</span>
            </a>
            <div id="siteayarlari" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SİTE AYARLARI:</h6>
                    <a class="collapse-item" href="utilities-color.html">Site Ayarı</a>


                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#iceriksayfalari" aria-expanded="true" aria-controls="iceriksayfalari">
                <i class="fas fa-fw fa-wrench"></i>
                <span>İçerik Sayfaları</span>
            </a>
            <div id="iceriksayfalari" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">İÇERİK SAYFALARI:</h6>
                    <a class="collapse-item" href="utilities-color.html">Gizlilik Politikası </a>
                    <a class="collapse-item" href="utilities-border.html">Hakkımızda</a>
                    <a class="collapse-item" href="utilities-border.html">İade Koşulları</a>
                    <a class="collapse-item" href="utilities-border.html">Üyelik Sözleşmesi </a>

                </div>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#siparis" aria-expanded="true" aria-controls="siparis">
                <i class="fas fa-fw fa-wrench"></i>
                <span>Sipariş Ayarları</span>
            </a>
            <div id="siparis" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                    <h6 class="collapse-header">SİPARİŞ AYARLARI:</h6>
                    <a class="collapse-item" href="utilities-color.html">Karo </a>
                    <a class="collapse-item" href="utilities-border.html">Ödeme Yöntemleri</a>
                    <a class="collapse-item" href="utilities-border.html">Sipariş Durumuları</a>

                </div>
            </div>
        </li>


 

    </ul>
